@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Helvetica&subset=cyrillic");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  font-family: Roboto; }

a {
  text-decoration: none; }

.bg_red {
  background: #eb1c24; }

.lucky-friday__container {
  max-width: 1260px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  font-size: inherit;
  margin-right: auto; }

.blue {
  color: #26A9E0; }

.white {
  color: #ffffff; }

.text-right {
  text-align: right; }

.lucky-friday__title {
  font-size: 48px;
  text-align: left; }

.lucky-friday__subtitle {
  font-size: 36px;
  line-height: 42px;
  margin-right: 20px; }

.lucky-friday__text {
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 40px; }

.lucky-friday__text_accent {
  font-weight: bold; }

.lucky-friday__text_gray {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px; }

.lucky-friday__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.lucky-friday__button {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #74489D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  -webkit-box-shadow: 2px 10px 66px -9px #74489D;
          box-shadow: 2px 10px 66px -9px #74489D; }

.lucky-friday__button:hover {
  opacity: 0.9; }

.lucky-friday__header {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .lucky-friday__header .lucky-friday__logo {
    margin: 20px 40px 20px 0; }
  .lucky-friday__header .lucky-friday__menu {
    list-style: none;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px; }
  .lucky-friday__header .lucky-friday__menu_item {
    font-size: 19px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px; }
  .lucky-friday__header .lucky-friday__menu a {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .lucky-friday__header .lucky-friday__menu a:hover {
    opacity: 1; }
  .lucky-friday__header .lucky-friday__menu .active {
    opacity: 1; }

.lucky-friday__first .lucky-friday__img {
  position: absolute;
  bottom: 0;
  left: 80px; }

.lucky-friday__first .lucky-friday__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #ffffff;
  position: relative; }

.lucky-friday__first .lucky-friday__title {
  font-size: 144px;
  line-height: 147px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold; }

.lucky-friday__first .lucky-friday__text {
  margin-top: 40px;
  text-align: center; }

.lucky-friday__im .lucky-friday__container {
  margin-top: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.lucky-friday__im .lucky-friday__title {
  font-size: 64px;
  line-height: 71px;
  color: #EB1C24;
  text-align: center;
  font-weight: bold; }

.lucky-friday__im .lucky-friday__text {
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: center; }

.lucky-friday__im .lucky-friday__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  cursor: pointer; }
  .lucky-friday__im .lucky-friday__slider .active {
    border: 6px solid #EB1C24; }

.lucky-friday__im .lucky-friday__date {
  width: 80px;
  height: 80px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
    -webkit-align-items-align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.lucky-friday__im .lucky-friday__day {
  font-size: 36px;
  font-weight: bold; }

.lucky-friday__im .lucky-friday__date:last-child {
  color: #EB1C24; }

.lucky-friday__im .lucky-friday__date:first-child {
  color: #EB1C24; }

.lucky-friday__im .lucky-friday__map {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px; }
  .lucky-friday__im .lucky-friday__map .lucky-friday__choice {
    position: absolute;
    right: 0; }
    .lucky-friday__im .lucky-friday__map .lucky-friday__choice a {
      color: black;
      font-size: 12px;
      text-decoration: underline; }
    .lucky-friday__im .lucky-friday__map .lucky-friday__choice .lucky-friday__choice-map {
      display: inline-block;
      margin: 30px; }
    .lucky-friday__im .lucky-friday__map .lucky-friday__choice .lucky-friday__choice-list {
      display: inline-block; }
    .lucky-friday__im .lucky-friday__map .lucky-friday__choice .active {
      color: #EB1C24;
      text-decoration: none; }
  .lucky-friday__im .lucky-friday__map svg {
    margin: 0 auto; }
  .lucky-friday__im .lucky-friday__map path {
    cursor: pointer;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms; }
  .lucky-friday__im .lucky-friday__map path:hover {
    fill: #EB1C24; }

@media (max-width: 1850px) {
  .lucky-friday__circle-8 {
    display: none; }
  .lucky-friday__circle-7 {
    display: none; } }

@media (max-width: 1550px) {
  .lucky-friday__circle-1 {
    display: none; }
  .lucky-friday__circle-2 {
    display: none; }
  .lucky-friday__circle-9 {
    display: none; }
  .lucky-friday__circle-11 {
    display: none; } }
