@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Helvetica&subset=cyrillic");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  font-family: Roboto; }

a {
  text-decoration: underline;
  color: black; }

.bg {
  position: relative;
  background: transparent; }

.container {
  max-width: 1260px;
  min-width: 970px;
  width: 100%;
  margin: 0 auto;
  font-size: inherit;
  padding: 0 20px; }

.blue {
  color: #26A9E0; }

.white {
  color: #ffffff; }

.text-right {
  text-align: right; }

.title {
  font-size: 64px;
  line-height: 71px;
  color: #EB1C24;
  text-align: center;
  font-weight: bold;
  margin-bottom: 90px; }

.text {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 40px; }

.text_accent {
  font-weight: bold; }

.text_color {
  color: #EB1C24; }

.text_conditional {
  font-size: 16px;
  line-height: 28px; }

.link {
  color: #EB1C24;
  text-decoration: underline;
  cursor: pointer; }

.link:hover {
  color: #CB1B22; }

.vertical-text {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  background: #EB1C24;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  height: 440px;
  width: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

button {
  background: #EB1C24;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  font-size: 24px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(235, 28, 36, 0.25);
          box-shadow: 10px 10px 20px 0px rgba(235, 28, 36, 0.25); }

button:hover {
  background: #D61B23; }

.animate-1 {
  -webkit-animation: pulse 9s infinite;
          animation: pulse 9s infinite; }

.animate-2 {
  -webkit-animation: pulse 5s infinite;
          animation: pulse 5s infinite; }

.animate-3 {
  -webkit-animation: pulse 12s infinite;
          animation: pulse 12s infinite; }

.animate-4 {
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite; }

.animate-5 {
  -webkit-animation: pulse 7s infinite;
          animation: pulse 7s infinite; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.header {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1260px;
  width: 100%; }
  .header .header__logo {
    margin: 20px 40px 20px 0; }
  .header .menu {
    list-style: none;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px; }
  .header .menu__item {
    font-size: 19px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px; }
  .header .menu a {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .menu a:hover {
    opacity: 1; }
  .header .menu .active {
    opacity: 1; }

.lucky-friday__first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: #eb1c24;
  overflow-x: hidden; }
  .lucky-friday__first .snowflake-1 {
    position: absolute;
    top: 61px;
    left: -140px; }
  .lucky-friday__first .snowflake-2 {
    position: absolute;
    top: 5px;
    left: 464px; }
  .lucky-friday__first .snowflake-3 {
    position: absolute;
    top: 20px;
    right: -47px; }
  .lucky-friday__first .snowflake-4 {
    position: absolute;
    top: 140px;
    left: 248px; }
  .lucky-friday__first .snowflake-5 {
    position: absolute;
    top: 110px;
    left: 408px; }
  .lucky-friday__first .snowflake-6 {
    position: absolute;
    top: 70px;
    left: 719px; }
  .lucky-friday__first .snowflake-7 {
    position: absolute;
    top: 147px;
    right: 235px; }
  .lucky-friday__first .snowflake-8 {
    position: absolute;
    top: 324px;
    left: -220px; }
  .lucky-friday__first .snowflake-9 {
    position: absolute;
    top: 269px;
    left: 62px; }
  .lucky-friday__first .snowflake-10 {
    position: absolute;
    top: 324px;
    right: 119px; }
  .lucky-friday__first .snowflake-11 {
    position: absolute;
    top: 264px;
    right: -124px; }
  .lucky-friday__first .snowflake-12 {
    position: absolute;
    top: 538px;
    left: -21px; }
  .lucky-friday__first .snowflake-13 {
    position: absolute;
    top: 550px;
    right: -8px; }
  .lucky-friday__first .snowflake-14 {
    position: absolute;
    top: 720px;
    left: -124px; }
  .lucky-friday__first .snowflake-15 {
    position: absolute;
    top: 740px;
    left: 124px; }
  .lucky-friday__first .snowflake-16 {
    position: absolute;
    bottom: 105px;
    left: 372px; }
  .lucky-friday__first .snowflake-17 {
    position: absolute;
    bottom: 182px;
    left: 49%; }
  .lucky-friday__first .snowflake-18 {
    position: absolute;
    bottom: 124px;
    right: 394px; }
  .lucky-friday__first .snowflake-19 {
    position: absolute;
    bottom: 277px;
    right: 267px; }
  .lucky-friday__first .snowflake-20 {
    position: absolute;
    bottom: 45px;
    right: 101px; }
  .lucky-friday__first .snowflake-21 {
    position: absolute;
    bottom: 182px;
    right: -145px; }
  .lucky-friday__first .lucky-friday__img-santa {
    position: absolute;
    bottom: 0;
    left: 80px;
    -webkit-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease; }
    .lucky-friday__first .lucky-friday__img-santa.right {
      left: 2500px;
      bottom: 0; }
    .lucky-friday__first .lucky-friday__img-santa.none {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; }
  .lucky-friday__first .lucky-friday__img-down {
    position: absolute;
    bottom: 60px;
    left: 48%;
    cursor: pointer; }
  .lucky-friday__first .container {
    margin-top: -43px;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    color: #ffffff;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .lucky-friday__first .text {
    margin-top: 40px;
    text-align: center; }

.lucky-friday__im .container {
  margin-top: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.lucky-friday__im .text {
  text-align: center; }

.lucky-friday__im .calendar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  cursor: pointer; }
  .lucky-friday__im .calendar .active, .lucky-friday__im .calendar .active:hover {
    outline: 6px solid #EB1C24; }
    .lucky-friday__im .calendar .active .date__img, .lucky-friday__im .calendar .active:hover .date__img {
      display: block; }

.lucky-friday__im .vertical-text {
  position: absolute;
  left: 0;
  top: 350px; }

.lucky-friday__im .date {
  width: 80px;
  height: 80px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 94px;
  margin-top: 50px;
  text-align: center; }

.lucky-friday__im .date:hover {
  border: 1px solid #EB1C24; }

.lucky-friday__im .date__img {
  position: absolute;
  top: -50px;
  display: none; }

.lucky-friday__im .date__day {
  font-size: 36px;
  font-weight: bold; }

.lucky-friday__im .date:last-child {
  color: #EB1C24; }

.lucky-friday__im .date:first-child {
  color: #EB1C24; }

.lucky-friday__im .btn {
  width: 400px;
  height: 72px;
  margin-bottom: 200px; }
  .lucky-friday__im .btn .btn__icon {
    background: url(/img/lucky_friday/bell.png) no-repeat;
    padding: 5px 30px 0 20px; }

.lucky-friday__im .btn__go {
  width: 400px;
  height: 72px;
  margin-bottom: 200px;
  display: none; }
  .lucky-friday__im .btn__go .btn__icon {
    background: url(/img/lucky_friday/santa_btn.png) no-repeat;
    padding: 5px 50px 0 20px; }

.lucky-friday__map {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px; }
  .lucky-friday__map svg {
    margin: 0 auto;
    overflow: visible; }
  .lucky-friday__map .region {
    cursor: pointer;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms; }
    .lucky-friday__map .region.active path, .lucky-friday__map .region.active:hover path, .lucky-friday__map .region.full path, .lucky-friday__map .region.full:hover path {
      fill: #EB1C24; }
  .lucky-friday__map .region:hover path {
    fill: #CCCCCC; }
  .lucky-friday__map .marker {
    cursor: pointer;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms; }
    .lucky-friday__map .marker.active path {
      fill-opacity: 1; }
  .lucky-friday__map .marker-full_30 {
    cursor: pointer;
    display: none; }
  .lucky-friday__map .marker-full_14 {
    cursor: pointer;
    display: none; }
  .lucky-friday__map .popup {
    position: absolute;
    width: 700px;
    height: 723px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .lucky-friday__map .popup.none {
      display: none; }
  .lucky-friday__map .popup__title {
    font-size: 64px;
    line-height: 72px;
    font-family: Roboto;
    text-align: center;
    color: #ffffff;
    background: #E71C23;
    -webkit-border-top-left-radius: 16px;
            border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
            border-top-right-radius: 16px;
    height: 206px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .lucky-friday__map .popup__content {
    height: 517px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .lucky-friday__map .popup__content .text_conditional {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 96px; }
  .lucky-friday__map .popup__btn {
    width: 270px;
    height: 72px; }

.lucky-friday__klp .container {
  position: relative;
  margin-top: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.lucky-friday__klp .text {
  margin-bottom: 90px; }

.lucky-friday__klp .content {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 130px; }

.lucky-friday__klp .content__text {
  text-align: left;
  margin-left: 45px;
  line-height: 28px;
  font-size: 24px; }

.lucky-friday__klp .vertical-text {
  position: absolute;
  left: 0;
  top: 20px; }

.lucky-friday__rules .container {
  position: relative;
  margin-top: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.lucky-friday__rules .text {
  text-align: left;
  max-width: 940px; }

.lucky-friday__rules .text_conditional {
  margin-bottom: 190px; }

.footer.bg {
  background: #EB1C24; }

.footer .container {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 940px;
  width: 100%;
  height: 100px; }

.footer .footer__menu {
  list-style: none;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px; }

.footer .footer__menu_item {
  font-size: 16px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 120px; }

.footer .footer__menu_item:last-child {
  margin-right: 0; }

.footer .footer__menu a {
  color: inherit;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .footer__menu a:hover {
  opacity: 1; }

@media (max-width: 970px) {
  overflow-x: scroll;
  .lucky-friday__klp .text {
    width: 850px; } }

@media (max-width: 1360px) {
  .header {
    margin-left: 60px; } }
